<label>Article title:</label><br>
<%= text_field_tag :'article[title]' %><br><br>

<label>Article Description</label><br>
<%= text_area_tag :'article[description]' %><br><br>

<%= submit_tag "Submit Article" %>